<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="false">
    <serverUrls>
            <serverUrl
              url="https://route.arcgis.com"
              matchAll="false"
              clientId="En9xNB1tzF8GIKvN"
              clientSecret="aecbcb20cb154617a47bb9f8497d337f"
              rateLimit="120"
              rateLimitPeriod="20"/>
              
            <serverUrl
              url="https://traffic.arcgis.com"
              matchAll="false"
              clientId="En9xNB1tzF8GIKvN"
              clientSecret="aecbcb20cb154617a47bb9f8497d337f"
              rateLimit="120"
              rateLimitPeriod="20"/>
              
    </serverUrls>
</ProxyConfig>  
