<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="utility.arcgis.com"
    username="RollTideNerdHerd"
    password="D1pst1ck88$"
    rateLimit="600"
    rateLimitPeriod="60"
    matchAll="false">
	</serverUrl>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
